@import "vars";
@import "~vuetify/dist/vuetify.min.css";
@import "vuetify-theme";
@import "normalize";
@import "assets/fonts/antonio";
@import "assets/icomoon/style.css";
@import "inputs";

[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  font-size: 32px;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Roboto", sans-serif;
  overflow-y: auto;
  overflow-x: hidden;
}

h1,
h2,
h3,
h5 {
  font-family: "Antonio Light";
  font-weight: 200;
  letter-spacing: 0.75px;
}

h1 {
  font-size: 30px;
  color: var(--accent-color);
}
h2 {
  font-size: 28px;
  color: #b4b4b4;
}
h3 {
  font-size: 22px;
  color: var(--accent-color);
}

/* Grid system */
.grid-container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "sidebar navbar"
    "sidebar content";

  .sidebar {
    grid-area: sidebar;
    display: grid;
    grid-template-columns: var(--sidebar-menu-width) var(--sidebar-submenu-width);
    grid-template-rows: auto;
    grid-template-areas: "menu submenu";
    height: 100vh;
    position: sticky;
    top: 0;
    .menu {
      grid-area: menu;
      display: grid;
      grid-template-columns: var(--sidebar-menu-width);
      grid-template-rows: var(--nav-height) auto 150px;
      grid-template-areas:
        "top-menu"
        "middle-menu"
        "bottom-menu";
    }
  }

  .navbar {
    grid-area: navbar;
  }

  .content {
    grid-area: content;
  }
}
