:root {
  --accent-color: #ad2631;
  --accent-hover-color: #ffdbde;
  --icon-color: #cdc0b8;
  --second-bg-color: #f6f6f6;
  --nav-height: 85px;
  --sidebar-menu-width: 66px;
  --sidebar-submenu-width: 300px;
  --nav-bg-gradient: linear-gradient(to right, #ba1522, #8a171c);
}
